.custom-load-more {
    display: block;
    margin: 20px auto;
    padding: 11px 80px 11px 80px;
    background-color: #982215;
    color: white;
    border-radius: 0px;
    border: none;
    cursor: pointer;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
    font-weight: normal;
    text-transform: none;
    transition: background-color 0.3s ease;
}

.custom-load-more:hover {
    background-color: #ccbb8d;
    color: black;
}

.custom-load-more:focus,
.custom-load-more:active {
    background-color: #982215;
    color: white; 
    outline: none; 
}